courthouse/src/main/app/bigfile.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
    <flow name="bigfileFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/bigfile" doc:name="HTTP"/>
        <component class="test.home.bigFileReader" doc:name="Java"/>
    </flow>
    <flow name="bigfileFlow1">
        <vm:inbound-endpoint exchange-pattern="one-way" path="BigFileRow" doc:name="VMBigFile"/>
        <logger message="JDBC Process: + #[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
