courthouse/src/main/app/indopotentexample.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <flow name="indopotentexampleFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/unique" doc:name="HTTP"/>
        <set-variable variableName="MyId" value="#[message.inboundProperties.'http.query.params'.Id]" doc:name="Variable - MyId"/>
        <idempotent-message-filter idExpression="#[flowVars.MyId]" doc:name="Idempotent Message"/>
        <set-payload value="sucess" doc:name="Set Payload"/>
    </flow>
</mule>
