courthouse/src/main/app/jms.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <jms:activemq-connector name="Active_MQ" brokerURL="tcp://jms.mulesoft-training.com:61616" validateConnections="true" doc:name="Active MQ"/>
    <flow name="jmsFlow" initialState="stopped">
        <jms:inbound-endpoint topic="appessential" connector-ref="Active_MQ" doc:name="JMS"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <set-payload value="#[payload.split(':')]" doc:name="Set Payload"/>
        <scripting:component doc:name="Groovy">
            <scripting:script engine="Groovy"><![CDATA[for(int i=0;i<payload.length;i++)
{
payload[i]=payload[i].trim();
}

return payload;]]></scripting:script>
        </scripting:component>
        <logger level="INFO" doc:name="Logger"/>
        <dw:transform-message metadata:id="6de0a67e-4399-4140-848d-0a36f5649c42" doc:name="Transform Message">
            <dw:input-payload/>
            <dw:input-outbound-property propertyName="MULE_ENCODING"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://calculator.services/
---
{
	ns0#doAdd: {
		arg0: (payload[0])  as :number,
		arg1: (trim payload[1])  as :number
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <ws:consumer config-ref="Web_Service_Consumer" operation="doAdd" doc:name="Web Service Consumer"/>
        <dw:transform-message metadata:id="7b72e5fe-fa71-4879-a292-ad835b65706c" doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
%namespace ns0 http://calculator.services/
---
MyData:{
 	val:payload.ns0#doAddResponse.return as :string
}]]></dw:set-payload>
        </dw:transform-message>
        <json:json-to-xml-transformer doc:name="JSON to XML"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>

    <flow name="jmsFlow1">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/jms" allowedMethods="GET" doc:name="HTTP"/>
        <set-payload value="#[message.inboundProperties.'http.query.params'.name] : #[message.inboundProperties.'http.query.params'.messageBody] " doc:name="Set Payload"/>
        <jms:outbound-endpoint topic="appessential" connector-ref="Active_MQ" doc:name="JMS"/>
    </flow>
</mule>
